footer {
  color: white;
  font-size: 18px;
  font-family: 'Permanent Marker', cursive;
  padding-top: 50px;
  line-height: 22px;
  background: #181818 url('../../images/dark-blackboard.png') repeat 0 0;
}

footer h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

footer a:hover,
footer a:focus {
  color: gray;
}

footer .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer #st-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

footer .sharethis-inline-reaction-buttons {
  margin-top: 20px;
}

footer .credits {
  color: silver;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #121212;
}

footer .credits .red {
  color: #E20613;
}

footer .credits a {
  color: gray;
}

@media screen and (max-width: 992px) {
  footer {
    padding-top: 0;
  }

  footer h3 {
    margin-top: 50px;
  }

  footer .twitter {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  footer h3 {
    font-size: 25px;
  }
}
