header {
  width: 100%;
  height: 360px;
  font-family: 'Trade Winds', cursive;
}

header img {
  position: absolute;
}

/* Turbines */

@keyframes rotation {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}

header .turbines figure img:first-child {
  top: 140px;
  z-index: 2;
}

header .turbines figure img:last-child {
  top: 55px;
  z-index: 3;
}

header .turbines figure:first-of-type img:first-child {
  left: 115px;
}

header .turbines figure:first-of-type img:last-child {
  left: 50px;
}

header .turbines figure:nth-of-type(2) img:first-child {
  left: 315px;
}

header .turbines figure:nth-of-type(2) img:last-child {
  left: 250px;
}

header .turbines figure:last-of-type img:first-child {
  left: 515px;
}

header .turbines figure:last-of-type img:last-child {
  left: 450px;
}

@keyframes colorize {
  0% { color: white; }
  25% { color: #F4BF31; }
  50% { color: #44DBBD; }
  75% { color: #9FD7FC; }
  100% { color: white; }
}

header .sound {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  animation: colorize 3s linear infinite;
}

header .sound:hover {
  cursor: pointer;
}

/* Clouds */

@keyframes translation {
  0% { transform: translateX(0) }
  50% { transform: translateX(10px) }
  100% { transform: translateX(0) }
}

header .clouds img {
  z-index: 1;
}

header .clouds img:first-of-type {
  top: 20px;
  left: 100px;
  animation: translation 4s linear infinite;
}

header .clouds img:nth-of-type(2) {
  top: 63px;
  left: 572px;
  animation: translation 5s linear infinite;
}

header .clouds img:nth-of-type(3) {
  top: 137px;
  left: 634px;
  animation: translation 6s linear infinite;
}

header .clouds img:last-of-type {
  display: none;
}

/* Sign */

header .sign img {
  top: 48px;
  left: 800px;
  z-index: 4;
}

header .sign .info {
  width: 315px;
  color: #181818;
  font-size: 42px;
  text-align: center;
  text-shadow: 0 0 5px white;
  position: absolute;
  top: 68px;
  left: 800px;
  line-height: 50px;
  z-index: 5;
}

/* Media queries */

@media screen and (min-width: 1366px) {
  header .clouds img:last-of-type {
    display: initial;
    top: 87px;
    left: 1196px;
    animation: translation 7s linear infinite;
  }
}

@media screen and (max-width: 1200px) {
  header .clouds img:nth-of-type(2) {
    left: 532px;
  }

  header .clouds img:nth-of-type(3) {
    left: 392px;
  }

  header .clouds img:last-of-type {
    display: none;
  }

  header .sign img,
  header .sign .info {
    left: 640px;
  }
}

@media screen and (max-width: 992px) {
  header .turbines figure:last-of-type {
    display: none;
  }

  header .clouds img:nth-of-type(2) {
    left: 332px;
  }

  header .clouds img:nth-of-type(3) {
    display: none;
  }

  header .sign img,
  header .sign .info {
    left: 430px;
  }
}

@media screen and (max-width: 768px) {
  header .turbines figure:nth-of-type(2) {
    display: none;
  }

  header .clouds img:nth-of-type(2) {
    display: none;
  }

  header .sign img,
  header .sign .info {
    left: 230px;
  }
}

@media screen and (max-width: 576px) {
  header .turbines figure:first-of-type img:first-child {
    left: 85px;
  }

  header .turbines figure:first-of-type img:last-child {
    left: 20px;
  }

  header .sign img {
    top: 205px;
    left: initial;
    right: 20px;
    width: 160px;
  }

  header .sign .info {
    width: 160px;
    font-size: 22px;
    top: 215px;
    left: initial;
    right: 20px;
    line-height: 22px;
  }
}
