.pipo {
  font-size: 25px;
  padding: 30px;
  color: white;
  background: #181818 url('../../images/dark-blackboard.png') repeat 0 0;
}

.pipo .junior,
.pipo .confirmé,
.pipo .senior {
  min-height: 125px;
}

.pipo #sentence {
  line-height: 30px;
  font-family: 'Permanent Marker', cursive;
  user-select: none;
}

.pipo #sentence:hover {
  cursor: url('../../images/marker.png'), auto;
}

.pipo #sentence:before {
  margin-right: 10px;
}

.pipo .junior #sentence:before {
  content: url('../../images/quote1.png');
}

.pipo .confirmé #sentence:before {
  content: url('../../images/quote2.png');
}

.pipo .senior #sentence:before {
  content: url('../../images/quote3.png');
}

.pipo .junior #sentence .fragment:hover,
.pipo .junior #copyToClipboard {
  color: #F4BF31;
}

.pipo .confirmé #sentence .fragment:hover,
.pipo .confirmé #copyToClipboard {
  color: #44DBBD;
}

.pipo .senior #sentence .fragment:hover,
.pipo .senior #copyToClipboard {
  color: #9FD7FC;
}

.pipo button {
  background: none;
  border: 0;
}

.pipo button:focus,
.pipo button:active {
  opacity: 0.5;
  outline: none;
}

.pipo #copyToClipboard {
  cursor: pointer;
}

.pipo .options {
  text-align: left;
}

.pipo .options input[type="image"] {
  margin: 20px 20px 0 0;
  transition: transform .5s ease;
}

.pipo .options input[type="image"]:hover {
  transform: rotate(360deg);
}

.pipo .options input[type="image"]:focus {
  outline: none;
  filter: grayscale(100%);
}

.pipo .options p.how-to {
  font-size: 22px;
}

.pipo .options p.how-to span {
  color: gray;
}

.pipo .options p.how-to span:hover {
  cursor: pointer;
  color: silver;
}

.pipo .money {
  color: silver;
  margin-top: 30px;
  font-family: tradewinds, cursive;
  text-align: right;
}

.pipo .money .row {
  margin: 0;
}

.pipo .money .amount {
  color: #F4BF31;
}

.pipo .money .donate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.pipo .money .donate .light-bulb {
  display: inline-block;
  width: 31px;
  height: 50px;
  background: url('../../images/light-bulbs.png') 0 0;
}

.pipo .money .donate:hover .light-bulb {
  background-position: 31px 0;
}

.pipo .money .donate input[type="submit"] {
  color: #F4BF31;
  border: solid 3px #F4BF31;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  font-size: 22px;
  background-color: initial;
  transition: background-color .5s ease;
}

.pipo .money .donate input[type="submit"]:hover {
  color: black;
  background-color: #F4BF31;
}

@media screen and (max-width: 992px) {
  .pipo .money .donate .light-bulb {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pipo {
    padding: 30px 0;
  }

  .pipo #sentence {
    line-height: 28px;
    text-align: center;
  }

  .pipo .options,
  .pipo .money {
    padding: 0;
    text-align: center;
  }

  .pipo .options p.how-to {
    font-size: 0.9em;
  }

  .pipo .money .donate {
    justify-content: center;
  }

  .pipo .options input[type="image"] {
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .pipo .money .donate input[type="submit"] {
    font-size: 22px;
  }
}
