.levels {
  text-align: center;
  padding: 50px 0;
}

.levels h2 {
  margin-bottom: 50px;
}

.levels figure figcaption {
  width: 300px;
  min-height: 60px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
}

.levels figure#intern figcaption {
  color: black;
  background-color: #F4BF31;
}

.levels figure#manager figcaption {
  color: #206874;
  background-color: #44DBBD;
}

.levels figure#consultant figcaption {
  color: #5F5F5F;
  background-color: #9FD7FC;
}
