.pipo {
  font-size: 30px;
  padding: 30px;
  color: gray;
  background-color: #181818;
}

.pipo p#sentence {
  min-height: 120px;
  line-height: 40px;
}

.pipo p#sentence:before {
  margin-right: 10px;
  content: url('../../images/quote1.png');
}

.pipo .options {
  text-align: left;
}

.pipo .options input[type="image"] {
  margin: 20px 20px 0 0;
  transition: transform .5s ease;
}

.pipo .options input[type="image"]:hover {
  opacity: 0.8;
}

.pipo .options input[type="image"]:focus {
  outline: none;
  filter: grayscale(100%);
}

.pipo .options p.how-to {
  font-size: 0.7em;
}

.pipo .money {
  color: white;
  margin-top: 30px;
  font-family: tradewinds, sans-serif;
  text-align: right;
}

.pipo .money .row {
  margin: 0;
}

.pipo .money .amount {
  color: #F4BF31;
}

.pipo .money .donate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.pipo .money .donate .light-bulb {
  display: inline-block;
  width: 31px;
  height: 50px;
  background: url('../../images/light-bulbs.png') 0 0;
}

.pipo .money .donate:hover .light-bulb {
  background-position: 31px 0;
}

.pipo .money .donate input[type="submit"] {
  color: #F4BF31;
  border: solid 3px #F4BF31;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  font-size: 22px;
  background-color: initial;
  transition: background-color .5s ease;
}

.pipo .money .donate input[type="submit"]:hover {
  color: black;
  background-color: #F4BF31;
}

@media screen and (max-width: 992px) {
  .pipo .money .donate .light-bulb {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pipo {
    font-size: 20px;
    padding: 30px 0;
  }

  .pipo p#sentence {
    line-height: 22px;
  }

  .pipo .options,
  .pipo .money {
    text-align: center;
    padding: 0;
  }

  .pipo .options p.how-to {
    font-size: 0.9em;
  }

  .pipo .money .donate {
    justify-content: center;
  }

  .pipo .options input[type="image"] {
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .pipo .money .donate input[type="submit"] {
    font-size: 18px;
  }
}
