.pipo {
  font-size: 30px;
  padding: 30px;
  color: gray;
  background-color: #181818;
}

.pipo p#sentence {
  min-height: 120px;
  line-height: 40px;
}

.pipo p#sentence:before {
  margin-right: 10px;
  content: url('../../images/quote1.png');
}

.pipo .options {
  text-align: left;
}

.pipo .options input[type="image"] {
  margin: 20px 20px 0 0;
  transition: transform .5s ease;
}

.pipo .options input[type="image"]:hover {
  opacity: 0.8;
}

.pipo .options input[type="image"]:focus {
  outline: none;
  filter: grayscale(100%);
}

.pipo .options p.how-to {
  font-size: 0.7em;
}

.pipo .money {
  margin-top: 48px;
  font-family: tradewinds, sans-serif;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .pipo {
    font-size: 22px;
    padding: 30px 10px;
  }

  .pipo .options,
  .pipo .money {
    text-align: center;
    padding: 0;
  }

  .pipo .options input[type="image"] {
    margin-right: 10px;
  }
}
