.pipo {
  min-height: 300px;
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
}

.pipo p:before {
  content: url('../../images/quote1.png');
}

.pipo p:after {
  content: url('../../images/quote2.png');
}

.pipo .options input[type="image"] {
  margin-right: 20px;
}
